// configuracion db
DB_HOST= ejemplo
DB_PORT= ejemplo
DB_USER= ejemplo
DB_PASSWORD= ejemplo
DB_NAME= ejemplo

// Configuración de Email
// EMAIL_USER= karenherrera95@gmail.com
// EMAIL_PASS= mqqy aooj tgoj ijgl

// Cloudinary credenciales
CLOUDINARY_CLOUD_NAME= ejemplo
CLOUDINARY_API_KEY= ejemplo
CLOUDINARY_API_SECRET= ejemplo

// JSON WEB TOKEN
JWT_SECRET= ejemplo
