// configuracion db
DB_HOST=*
DB_PORT=*
DB_USER=*
DB_PASSWORD=*
DB_NAME=*

// Configuración de Email
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion

// Cloudinary credenciales
CLOUDINARY_CLOUD_NAME=*
CLOUDINARY_API_KEY=*
CLOUDINARY_API_SECRET=*
